

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Style for the "Copy" button */
.copy-button {
  background-color: #007BFF; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin-left: 10px; /* Add some spacing between code and button */
}

/* Hover effect for the "Copy" button */
.copy-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}


.chat code {
  display: block;
  background-color: #272822; /* Background color of a terminal-like block */
  color: #f8f8f2; /* Text color of the code */
  padding: 10px;
  font-family: 'Courier New', monospace; /* Use a monospace font */
  white-space: pre-wrap; /* Preserve line breaks and whitespace */
  overflow-x: auto; /* Add horizontal scroll if necessary */
  border-radius: 5px; /* Rounded corners for the block */
}
/* Style for code block container */
.code-block {
    background-color: #272822; /* Background color of a terminal-like block */
    padding: 10px;
    border-radius: 5px; /* Rounded corners for the block */
    margin: 5px 0; /* Add some spacing between code blocks */
}

/* Example CSS for code blocks */
pre {
  background-color: #272822; /* Background color of code block */
  color: #f8f8f2; /* Text color of code block */
  padding: 10px;
  font-family: 'Courier New', monospace; /* Use a monospace font */
  white-space: pre-wrap; /* Preserve line breaks and whitespace */
  overflow-x: auto; /* Add horizontal scroll if necessary */
  border-radius: 5px; /* Rounded corners for the block */
}

.header-container {
  display: flex;
  position: relative;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  justify-content: space-between;
  background-color: var(--outgoing-chat-bg);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Adjust the z-index to ensure it's above other content */
  transition: transform 0.3s ease-in-out;
  flex-wrap:wrap
}


.atharva-logo img {
    width: 261px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

.other-logos {
    display: flex;
    align-items: center;
}

.other-logos img {
    width: 80px;
    height: 72px;
    margin-left: 10px;
}

.dropbtn {
  background-color: #FFA500; /* Orange */
  color: white;
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Define the light orange color */
.light-orange {
  background-color: #FFA500; /* Light Orange */
  color: #FFF; /* White text color */
  border: none; /* Remove the button border */
  padding: 10px 20px; /* Adjust padding for button size */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover for interactivity */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

/* Define a hover effect to slightly darken the color on hover */
.light-orange:hover {
  background-color: #FF8500; /* Slightly darker shade of orange */
}


/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2; /* Light subtle grey */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e0e0e0; /* Light grey on hover */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.user-email {
  color: white;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}
.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #FFFFFF;
  --incoming-chat-border: #D9D9E3;
}
body {
  background: var(--outgoing-chat-bg);
  overflow: hidden;
}

/* Chats container styling */
.chat-container {
  max-height: 90vh;
  overflow-y: auto;
  padding-bottom: 150px; /* Padding to make space for the typing container */
}

:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}
.default-text h1 {
  font-size: 3.3rem;
}
.default-text p {
  margin-top: 10px;
  font-size: 1.1rem;
}
.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}
.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}
.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}
.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}
.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}
.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}
.chat .chat-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
}
.chat .chat-details img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}
.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
  color: var(--text-color);
  word-break: break-word;
}
.chat .chat-details p.error {
  color: #e55865;
}
.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}
.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.7;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}
.typing-animation .typing-dot:first-child {
  margin-left: 0;
}
@keyframes animateDots {
  0%,44% {
    transform: translateY(0px);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}

/* Typing container styling */
.typing-container {
  position: fixed;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background: var(--outgoing-chat-bg);
  border-top: 1px solid var(--incoming-chat-border);
}
.typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
}
.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  resize: none;
  height: 55px;
  width: 100%;
  border: none;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}
.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}
.typing-content span {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}
.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.typing-textarea textarea:valid ~ span {
  visibility: visible;
}
.typing-controls {
  display: flex;
}
.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}
.typing-controls span:hover {
  background: var(--icon-hover-bg);
}

/* Reponsive Media Query */
@media screen and (max-width: 600px) {
  .default-text h1 {
    font-size: 2.3rem;
  }
  :where(.default-text p, textarea, .chat p) {
    font-size: 0.95rem!important;
  }
  .chat-container .chat {
    padding: 20px 10px;
  }
  .chat-container .chat img {
    height: 32px;
    width: 32px;
  }
  .chat-container .chat p {
    padding: 0 20px;
  }
  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }
  .typing-container {
    padding: 15px 10px;
  }
  .typing-textarea textarea {
    height: 45px;
    padding: 10px 40px 10px 10px;
  }
  .typing-content span {
    height: 45px;
    width: 45px;
    margin-left: 5px;
  }
  span.material-symbols-rounded {
    font-size: 1.25rem!important;
  }
  /* Chats container styling */
.chat-container {
  max-height: 71vh;
  overflow-y: auto;
  padding-bottom: 150px; /* Padding to make space for the typing container */
}
}

.header-container {
  display: flex;
  position: relative;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: visible;
  justify-content: space-between;
  background-color: var(--outgoing-chat-bg);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Adjust the z-index to ensure it's above other content */
  transition: transform 0.3s ease-in-out;
  flex-wrap:wrap
}
